
.header{
width: 100%;
height: 100px;
background-color: #EEEEEE;
position: fixed;
margin: 0px;
border:none;
left: 0;
right: 0;
top: 0;
}

.header-button {
width: 80px;
padding: 20px;
height: 30px;
text-align: center;
float:right;


}

.footer{
    position:absolute;
    bottom:0;
    width: 100%;
    height: 85px;
    background-color: #EEEEEE;
    border: none;
    overflow: hidden;
    left: 0;
    right: 0;
}

img.logo{
    width: 90px;
    height: 90px;
    float: left;
    padding: 5px;

}