
.scene#animation-screen
{
    background-color: #7B69DC;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    flex-direction: column;
}

.animation-playbutton{
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 100%;
    margin: auto;
    margin-bottom: 50px;
}

#video{
    margin: auto;
    display: flex;
    z-index: 1;
    border-radius: 20px;
    border: 6px solid #F5F5F5;
}

.animation-shell{
    transform: rotate(30deg);
    position: relative;
    margin: 0;
    z-index: 2;
    top: 10px;
    margin-left: -80px;
    height: 90px;
    width: 90px;
}

.scene#animation-screen .navigation-button
{
    position: relative;
    background-color: white;
    height: 50px;
    margin-left: 380px;
    margin-top: -30px;
    width: 200px;
    border-radius: 30px;
    font-size: xx-large;
}

.scene#animation-screen div
{
    display: flex;
    margin-left: 30px;
    margin-top: -50px;
}
.animation-shell2{
    transform: rotate(-30deg);
    position: relative;
    margin: 0;
    margin-right: -100px;
    margin-top: 550px;
    z-index: 2;
    height: 80px;
    width: 80px;
}