
.scene#animation-screen
{
    background-color: #7B69DC;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    flex-direction: column;
}

.animation-playbutton{
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 100%;
    margin: auto;
    margin-bottom: 50px;
}

#video{
    margin: auto;
    display: flex;
    z-index: 1;
    border-radius: 20px;
    border: 6px solid #F5F5F5;
}

.animation-shell{
    display: flex;
    align-self: flex-end;
    justify-content: right;
    transform: rotate(30deg);
    top: 60px;
    right: 27px;
    position: absolute;
    padding-top: 100px;
    margin-right: 0px;
    z-index: 2;
    height: 120px;
    width: 120px;
}

.animation-shell2{
    display: flex;
    align-self: flex-end;
    justify-content: right;
    transform: rotate(-30deg);
    top: 720px;
    right: 1168px;
    position: absolute;
    padding-top: 100px;
    margin-right: 0px;
    z-index: 2;
    height: 100px;
    width: 100px;
}