#chapter-holder {
    position: relative;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;
    cursor: pointer;
}

#chapter-holder.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
  }

.chapter-template {
    display: inline-block;
    margin: 2em 1em;
    overflow: hidden;
    height: 300px;
}

.chapter-template.selected {
  height: 340px;
}

#chapter-holder::-webkit-scrollbar {
    display: none;
  }
#grid-chapters{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    color: lighten(gray, 25%);
    background-color: lighten(skyblue, 60%);
    grid-area: main;
    padding: 0;
}

.levelTemplate-shell{
    width: 50px;
    height: 50px;
}
.levelTemplate-shells{
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.locked{
  pointer-events: none;
}