.scene#chapter-overview
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #7B69DC;
}

.chapter-bubbles
{
    position: relative; 
    top: 184px;
}

.gametitle
{
    position: relative; 
    top: 99px;
}

.Otto-chapters
{
    position: relative; 
    bottom: -243px;
    left: -426px;
}

.Play
{
    position: relative; 
    bottom: -32px;
    right: -484px;
}

.Settings
{
    position: relative; 
    top: -746px;
    right: -515px;
}