.scene#level #playfield
{
    display: flex;
    flex-direction: column;
}

.scene#level #playfield #playfield-buttons
{
    display: flex;
    justify-content: right;
}

.scene#level #playfield #character-holder
{
    margin: auto;
    margin-bottom: -10px;
    margin-left: 180px;
    display: flex;

}

.scene#level #playfield .action-button
{
    height: 80px;
    width: 80px;
    margin: 15px;
    border-radius: 100%;
}
.scene#level #placeholder-codeblock
{
    left: 0px;
}

.scene#level #CodeBlocks {
    display: flex;
    align-items: center;
    justify-content: left;
}

.scene#level #Category{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
}

.scene#level #movement-blocks{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.scene#level #placeholder-codeblock[data-status="enabled"] 
{
    border: 4px dashed black;
    width: 60px;
    height: 60px;
    animation: fadeinout 2s linear forwards infinite;
    opacity: 0;
}

.scene#level #placeholder-codeblock[data-status="disabled"] 
{
    opacity: 0;
}

@keyframes fadeinout {
  50% { opacity: 1; }
}

.shell{
    height: 60px;
    width: 60px;
    margin: auto;
    position: relative;
    padding-left: 75px;
    padding-right: 20px;
}

#grayshells-positioning{
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 79px;
}

.grayshell{
    height: 60px;
    width: 60px;
}

span + span {
    margin-left: 36px;
}