.scene#level-overview{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #7B69DC;
}
.scene#level-overview h2{
    font-family: 'Grandstander';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 158.02%;
    color: white;
    margin: 0px;
}
.scene#level-overview #map-navigation
{
    height: 100px;
    width: 100%;
    display: flex;
    margin-top: 31px;
    margin-bottom: 9px;
    padding-right: 10%;
}

.scene#level-overview #map-navigation .navigation-button
{
    position: relative;
    left: 117px;
    font-size: large;
}

.levelHolder {
    position: relative;
    width: 100%;
    height: 400px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    will-change: transform;
    user-select: none;
    cursor: pointer;
}

.levelHolder.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
  }

.levelTemplate {
    display: inline-block;
    overflow: hidden;
    height: 240px;
    margin-top: 20px;
    width: 150;
    margin-left: 20px;
    margin-right: 20px;
}

.levelTemplate.selected {
    height: 260px;
    margin-top: 0px;
}

.levelTemplate p{
    font-size: 120px;
    position: relative;
    color: white;
    top: -250px;
    left: 5px;
    text-align: center;
    font-family: 'Grandstander', serif;
}

.levelTemplate-button{
    background-size: cover;
    width: 150px;
    height: 150px;
    margin-left: 25px;
}

.levelHolder::-webkit-scrollbar {
    display: none;
  }

.grid-levels{
    display: grid;
    height: 300px;
    width: 800px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    color: lighten(gray, 25%);
    background-color: lighten(skyblue, 60%);
    grid-area: main;
    padding: 0;
}

#level-overview-top{
    display: flex;
    align-items: center;
    width: 100%;
    height: 20%;
  }
  
  #level-overview-top .navigation-button[data-scene="chapter-overview"]{
    width: 7%;
    height: 40%;
    min-height: 60px;
    min-width: 70px;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  #level-overview-top h1{
    font-family: 'Grandstander';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    color: white;
    width: 50%;
    margin-left: 14%;
    margin-right: 10%;
  }

  #level-overview-bottom{
    height: 100%;
  }
  
  #level-overview-bottom div{
    margin-top: -15px;
  }

  
/*Level selection screen*/
.Otto-levelpose
{
    position: relative; 
    bottom: -60px;
    left: -300px;
    width: 180px;
}

.Play-levels
{
    position: relative; 
    bottom: 85px;
    right: -420px;
    width: 130px;
    cursor: pointer;
}

.Settings-levels
{
    position: relative; 
    top: -890px;
    right: -515px;
}

.backarrow
{
    position: relative;
    top: 177px;
    left: -524px;
}

.levelTemplate-shell{
    width: 60px;
    height: 60px;
    margin-left: 2px;
    margin-right: 2px;
}

.levelTemplate-shell[data-position="left"]{
    transform: rotate(-25deg);
    margin-top: 20px;
}
.levelTemplate-shell[data-position="right"]{
    transform: rotate(25deg);
    margin-top: 20px;
}
.levelTemplate-shell[data-position="center"]{
}
.levelTemplate-shells{
  display: flex;
  justify-content: center;
  margin-bottom: -10px
}