.scene#level-overview
{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #7B69DC;
}

.scene#level-overview .navigation-button
{
    height: 80px;  
    width: 80px;
    border-radius: 100%;
}

.scene#level-overview #map-navigation
{
    height: 100px;
    width: 100%;
    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-right: 10%;
}

.scene#level-overview #map-navigation .navigation-button
{
    position: relative;
    left: 117px;
    font-size: large;
}
/*
.scene#level-overview #map-level-selectors
{
    height: 100px;
    margin: auto;
    margin-top: 150px;
}
*/
/*
.scene#level-overview #map-level-selectors .navigation-button
{
    margin: 15px;
    font-size: xx-large;
}
*/