.scene#level #playfield
{
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 100%;
    background-image: url("../assets/levels/Background_Chapter_1.png");
}
.scene#level #playfield #playfield-buttons
{
    display: flex;
    justify-content: right;
    width: 100%;
}

.scene#level #shells-counter{
    width: 200px;
    display: flex;
    margin: 10px;
    padding: 10px;
}

.scene#level #playfield #character-holder
{
    height: 330px;
    width: 100%;
    margin-bottom: -7px;
    display: flex;
    align-items: flex-end;
}


#character{
    width: 111.7px;
    height: 136px;
    margin-bottom: 6px;
    order: 2;
    background-image: url(/assets/levels/Character_Image2.png);
    background-size: cover;
    background-color: transparent;
    z-index: 10;
    transition: transform ease-in-out 750ms;
}
#character[data-transparent="false"]{
    opacity: 1;
}
#character[data-transparent="true"]{
    opacity: 0.6;
}

.scene#level #ui-window{
    display: flex;
    flex-direction: row;
    height: 80px;
}

.scene#level #playfield .action-button
{
    height: 80px;
    width: 80px;
    margin: 15px;
    border-radius: 100%;
}

.scene#level #logic-window{
    width: 100%;
    height: 12%;
    bottom: 80px;
    margin: 0px;
    background: #372E6B;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.scene#level #execution-window{
    width: 100%;
    height: 20%;
    margin: 0px;
    background-color:#372E6B;
    display: flex;
    align-items: center;
}

.scene#level #execution-window #trash-icon
{
    width: 81px;
    height: 100px;
    background-size: cover;
    margin-left: 20px;
    margin-right: 20px;
}

.scene#level #execution-window #Taskbar{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 75%;
    padding: 0px;
    margin: 0px;
    margin-left: 20px;
    position: relative;

}

.scene#level #execution-window .action-button[data-action="play"]{
    width: 75px;
    height: 75px;
    border-radius: 45px;
    background-color: #7FA53D;
}

.scene#level #CodeBlocks {
    display: flex;
    align-items: center;
    justify-content: left;
    
}

.scene#level #Category{
    width: 250px;
    margin-right: 30px;
    height: 90px;
    border-radius: 0px 20px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: #E7F7FD;
}

.scene#level #Category[data-category="movement"]{
    background-image: url("../assets/blocks/movement/block_movement_category_background.png");
    background-size: cover;
    width: 65px;
    height: 65px;
}

.scene#level #Category[data-category="appearance"]{
    background-image: url("../assets/blocks/appearance/block_appearance_category_background.png");
    background-size: cover;
    width: 65px;
    height: 65px;
}

.scene#level #Category[data-category="movement"] img{
    width: 40px;
    height: 40px;
    
}

.scene#level .category-blocks{
    display: flex;
    width: 964px;
    margin-left: -50px;
    padding-left: 40px;
    height: 90px;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0px 0px 20px 0px;
}

.scene#level .category-blocks .CodeBlock{
    margin-left: 10px;
    margin-top: 15px;
}

.scene#level .category-blocks[data-category="movement"]{
    background-color: #D4ECF7;
}
.scene#level .category-blocks[data-category="appearance"]{
    background-color: #F3D6F5;
}
.scene#level .category-blocks[data-category="control"]{
    background-color: #FEE8CD;
}
.scene#level .category-blocks div{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    
}
.scene#level .category-blocks div img{
    height: 70px;
    width: 70px;
    margin-right: 30px;
}
.CodeBlock{
    height: 70px;
    width: 70px;
    left: 0px;
    top: 0px;
    position: relative;
    margin: 0px;
    margin-top: 6px;
    margin-left: -10px;
}

.codeblock-background
{
    height: 75px;
    width: 75px;
    margin-top: -7.0px;
    pointer-events: none;
    
}

.green{
    filter: hue-rotate(270deg) brightness(0.75) contrast(2);
}

.red{
    filter: hue-rotate(160deg) brightness(0.75) contrast(2);
}

.scene#level .placeholder-codeblock[data-status="enabled"] 
{
    
    width: 70px;
    height: 70px;
    animation: fadeinout 2s linear forwards infinite;
    opacity: 0;
    margin: 1px;
}

.scene#level .placeholder-codeblock img{
    width: 180%;
    height: 180%;
    margin-left: -32px;
    margin-top: -30px;
    
}

.scene#level .placeholder-codeblock p{
    font-family: 'Grandstander', serif;
    font-size: 60px;
    margin-top: -93px;
    margin-left: -5px;
    text-align: center;
    color: white;
}
.scene#level .placeholder-codeblock[data-status="disabled"] {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    width: 70px;
    height: 70px;
    margin: 1px;
    margin-left: -2px;
}

@keyframes fadeinout {
  50% { opacity: 1; }
}

.scene#level #Ground
{
    height: 68px;
    background-image: url("../assets/levels/Ground_Block_Chapter_1.png");
    background-size: 120px 68px;
    background-repeat:  repeat;
}

.scene#level .obstacle{
    position: absolute;
    width: 120px;
    height: 68px;
    z-index: 0;
}

.scene#level .ladder{
    position: absolute;
    background-size: cover;
    width: 100px;
    height: 180px;
    margin-top: -44px;
    margin-left: 10px;
    margin-right: 10px;
}

.scene#level #item-holder{
    height: 0px;
}

.goal{
    position: absolute;
    width: 70px;
    margin-top: -38px;
    margin-left: 30px;
}

.shell{
    height: 50px;
    width: 50px;
    margin-left: 35px;
    margin-top: 12px;
    margin-right: 35px;
    position: absolute;
}

#shell-counter{
    display: flex;
    align-content: center;
}

.shellcounter{
    height: 60px;
    width: 60px;
    margin: 0px 5px;
}
