.scene#level #playfield
{
    display: flex;
    flex-direction: column;
    height: 598px;
    width: 1194px;
    background-image: url("../assets/levels/Background_Chapter_1.png");
}
.scene#level #playfield #playfield-buttons
{
    display: flex;
    justify-content: right;
    width: 100%;
}

.scene#level #shells-counter{
    width: 200px;
    display: flex;
    margin: 10px;
    padding: 10px;
}

.scene#level #playfield #character-holder
{
    height: 420px;
    width: 100%;
    margin-bottom: -7px;
    display: flex;
    align-items: flex-end;
}

#character{
    width: 138px;
    height: 168px;
    margin-bottom: 6px;
    order: 2;
    background-image: url(/assets/levels/Character_Image2.png);
    background-size: cover;
    background-color: transparent;
    z-index: 10;
    transition: transform ease-in-out 750ms;
}
#character[data-transparent="false"]{
    opacity: 1;
}
#character[data-transparent="true"]{
    opacity: 0.6;
}

.scene#level #ui-window{
    display: flex;
    flex-direction: row;
}

.scene#level #playfield .action-button
{
    height: 80px;
    width: 80px;
    margin: 15px;
    border-radius: 100%;
}
.scene#level #placeholder-codeblock
{
    left: 0px;
}

.scene#level #logic-window{
    width: 100%;
    height: 90px;
    bottom: 80px;
    margin: 0px;
    background: #372E6B;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.scene#level #execution-window{
    width: 100%;
    height: 146px;
    bottom: 0px;
    margin: 0px;
    background-color:#372E6B;
    display: flex;
    align-items: center;
}

.scene#level #execution-window #trash-icon
{
    width: 100px;
    height: 100px;
    margin-left: 60px;
    margin-right: 60px;
}

.scene#level #execution-window #Taskbar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 804px;
    padding: 0px;
    margin: 0px;
}

.scene#level #execution-window .action-button[data-action="play"]{
    width: 90px;
    height: 90px;
    border-radius: 45px;
    background-color: #7FA53D;
    margin-left: 60px;
    margin-right: 60px;
}

.scene#level #CodeBlocks {
    display: flex;
    align-items: center;
    justify-content: left;
    
}

.scene#level #Category{
    width: 250px;
    height: 90px;
    border-radius: 0px 20px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E7F7FD;
}

.scene#level #Category[data-category="movement"]{
    background-image: url("../assets/blocks/movement/block_movement_category_background.png");
    background-size: cover;
    width: 65px;
    height: 65px;
}

.scene#level #Category[data-category="appearance"]{
    background-image: url("../assets/blocks/appearance/block_appearance_category_background.png");
    background-size: cover;
    width: 65px;
    height: 65px;
}

.scene#level #Category[data-category="movement"] img{
    width: 40px;
    height: 40px;
    
}

.scene#level .category-blocks{
    display: flex;
    width: 964px;
    margin-left: -20px;
    height: 90px;
    align-items: center;
    justify-content: center;
    background-color: #D4ECF7;
    border-radius: 0px 0px 20px 0px;
}

.CodeBlock{
    left: 0px;
    top: 0px;
    width: 70px;
    height: 70px;
    position: relative;
    margin-left: -2px;
}

.codeblock-background
{
    height: 85px;
    width: 85px;
    margin-top: -7.0px;
    pointer-events: none;
}

.scene#level .placeholder-codeblock[data-status="enabled"] 
{
    
    width: 70px;
    height: 70px;
    animation: fadeinout 2s linear forwards infinite;
    opacity: 0;
    margin: 1px;
}

.scene#level .placeholder-codeblock img{
    width: 200%;
    height: 200%;
    margin-left: -35px;
    margin-top: -35px;
    
}

.scene#level .placeholder-codeblock p{
    font-family: 'Grandstander', serif;
    font-size: 60px;
    margin-top: -100px;
    text-align: center;
    color: white;
}
.scene#level .placeholder-codeblock[data-status="disabled"] {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    width: 70px;
    height: 70px;
    margin: 1px;
}

@keyframes fadeinout {
  50% { opacity: 1; }
}

.scene#level #Ground
{
    height: 84px;
    background-image: url("../assets/levels/Ground_Block_Chapter_1.png");
    background-size: 149px 84px;
    background-repeat:  repeat;
}

.scene#level .obstacle{
    position: absolute;
    width: 149px;
    height: 84px;
    z-index: 0;
}

.scene#level .ladder{
    position: absolute;
    margin-top: -58px;
    margin-left: 15.5px;
    margin-right: 15.5px;
}

.scene#level #item-holder{
    height: 0px;
}

.shell{
    height: 60px;
    width: 60px;
    margin-left: 44.5px;
    margin-top: 12px;
    margin-right: 44.5px;
    position: absolute;
}

#shell-counter{
    display: flex;
    align-content: center;
}

.shellcounter{
    height: 60px;
    width: 60px;
    margin: 0px 5px;
}
