.scene
{
    max-width: var(--width);
    max-height: var(--height);
    width: var(--width);
    height: var(--height);
    border-radius: 30px;
    overflow: hidden;
}

.scene#main
{
    background-color: black;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
}

.scene#menu
{
    background-color: #7B69DC;
    display: flex;
}

.scene#menu .navigation-button
{
    position: relative;
    background-color: pink;
    height: 100px;
    width: 500px;
    border-radius: 30px;
    font-size: xx-large;
    top: 501px;
    right: 321px;
}

/*Title screen*/
.Ottiyalogo-transparent
{
    height: 150px;
    width: 150px;
    position: relative;
    top: 304px;
    left: -4px;
}

.gametitlescreen
{
    color: white;
    font-weight: 900;
    font-size: 48px;
    font-family: 'Crete Round', serif;
    position: relative; 
    top: 127px;
    left: 396px;
}

.agameby
{
    color: white;
    font-family: 'Crete Round', serif;
    font-weight: 400;
    position: relative; 
    top: 212px;
    left: 120px;
}

/*Chapter selection screen*/
.scene#chapter-overview
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #7B69DC;
}

.scene #chapters
{
    position: relative; 
    top: 109px;
}

.gametitle-chapters
{
    color: white;
    font-weight: 900;
    font-size: 48px;
    font-family: 'Crete Round', serif;
    position: relative; 
    top: 100px;
}

.gametitle-levels
{
    color: white;
    font-weight: 900;
    font-size: 48px;
    margin-left: 390px;
    font-family: 'Crete Round', serif;
    position: relative; 
}

.chapter-name
{
    color: white;
    font-family: 'Crete Round', serif;
    font-weight: 400;
    position: relative; 
}

.scene #chapter-selection
{
    color: white;
    font-family: 'Crete Round', serif;
    font-weight: 400;
    position: relative;
    top: 76px;
}

.Play-chapters
{
    position: relative; 
    bottom: 55px;
    right: -484px;
}

.Otto-chapterpose
{
    position: relative; 
    bottom: -144px;
    left: -426px;
}

.Settings-chapters
{
    position: relative; 
    top: -846px;
    right: -515px;
}

/*Level selection screen*/
.Otto-levelpose
{
    position: relative; 
    bottom: -52px;
    left: -426px;
}

.Play-levels
{
    position: relative; 
    bottom: 140px;
    right: -484px;
}

.Settings-levels
{
    position: relative; 
    top: -890px;
    right: -515px;
}

.backarrow
{
    position: relative;
    top: 177px;
    left: -524px;
}

.scene #shellcounter-level1
{
    position: relative;
    bottom: -76px;
    left: -100px;
}