.scene
{
    max-width: var(--width);
    max-height: var(--height);
    width: var(--width);
    height: var(--height);
    border-radius: 30px;
    overflow: hidden;
}

.scene#main
{
    background-color: black;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
}

.scene#menu
{
    background-color: aqua;
    display: flex;
}

.scene#menu .navigation-button
{
    margin:auto;
    background-color: pink;
    height: 100px;
    width: 500px;
    border-radius: 30px;
    font-size: xx-large;
}