/* Header */
.header{
    width: 100%;
    height: 100px;
    background-color: #EEEEEE;
    margin: 0px;
    border:none;
    left: 0;
    right: 0;
    top: 0;
}

.header-button {
    width: 80px;
    padding: 20px;
    height: 30px;
    text-align: center;
    float:right;
}

/* Game */
#game-area{
    height: 500px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: bisque;
    position: relative;
    align-items: center;
    justify-content: center;
    top: 50px;
}

#menu-area{
    width: 300px;
    height: 300px;
    margin: auto;
    background-color: blanchedalmond;
    display: flex;
}
#menu-area button{
    border-radius: 20px;
    width: 260px;
    height: 60px;
    font-size: 40px;
    padding: 0;
    line-height: 60px;
}

.menu-button{
    margin:auto;
    display: flex;
    justify-content: center;
    background-color: pink;
    color: black;
    border: none;
    height: 30px;
    width: 100px;
    text-align: center;
}


#character-area{
    height: 500px;
    width: 1000px;
}


#map-area{
    height: 300px;
    width: 300px;
    /*display: flex;*/
    margin: 20px;
    justify-content: center;
    align-items: center;
    
}

#map-area button{
    margin: 20px;
}

.character-name{
    height: 30px;
    width: 150px;
    background-color: azure;
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px;
}



.map-circle{
    height: 50px;  
    width: 50px;
    border-radius: 100%;
    background-color:darksalmon;
    display: flex;
    align-items: center;
    justify-content: center;
}

.character-circle{
    height: 70px;  
    width: 70px;
    border-radius: 100%;
    background-color:darksalmon;
    text-align:center;
    
}

.item-select{
    height: 500px;
    width: 300px;
    margin: 40px, 300px, 0px, auto;
}

#level-area{
    height: 500px;
    width: 1000px;
}

#collectibles-tab{
    height: 106px;
    width: 450px;
    display: flex;
    opacity: 60%;
}


.ui-screen-below{
    width: 100%;
    height: 68px;
    bottom: 80px;
    margin: 0px;
    background-color: aqua;
}
.ui-screen-below2{
    width: 100%;
    height: 168px;
    bottom: 0px;
    margin: 0px;
    background-color:lightgray;
}

/* Footer */
.footer{
    position: relative;
    bottom:0;
    margin-top: 100px;
    width: 100%;
    height: 80px;
    background-color: #EEEEEE;
    border: none;
}

img.logo{
    width: 80px;
    height: 80px;
    float: left;

}

.hidden{
    visibility: hidden;
    display: none !important;
}



#CodeBlocks{
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu-circle{
    float: right;
    background-color: beige;
    border: none;
}

.CodeBlock_One{
    background-color: transparent;
}

.CodeBlock_Two{
    background-color: transparent;
}

.CodeBlock_Three{
    background-color: transparent;
}

.CodeBlock_Four{
    background-color: transparent;
}

.CodeBlock_Five{
    background-color: transparent;
}

.category-blocks .CodeBlock{
    margin: 10px;
    height: 60px;
    width: 60px;
    left: 0px;
    top: 0px;
    position: relative;
    margin: 10px;
}

#ladder-one{
    position: absolute;
    left: 700px;
    top: 540px;
    height: 100px;
    width: 100px;
}

#ladder-two{
    position: absolute;
    left: 955px;
    top: 540px;
    height: 100px;
    width: 100px;
}

#character{
    width: 84px;
    height: 120px;
    background-image: url(/assets/levels/Character_Image.png);
    background-size:contain;
    background-color: transparent;
    transition: all ease-in-out 750ms;
    margin-right: 80px;
}

#Ground
{
    height: 84px;
    background-image: url("../assets/levels/Ground_Block_Chapter_1.png");
    background-repeat: round;
}

#playfield {
    height: 598px;
    width: 1194px;
    background-image: url("../assets/levels/Background_Chapter_1.png");
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.05);
    font-size: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

/* Function test*/
#blok
{
    width: 300px;
    height: 100px;
    border: 1px solid black;
}

.white
{
    background-color: white;
}

.red
{
    background-color: red;
}

.blue
{
    background-color: blue;
}